# Framework web
fastapi==0.111.0

# Servidor ASGI
uvicorn[standard]==0.29.0

# ORM y base de datos
sqlalchemy==2.0.30
alembic==1.13.1
psycopg2-binary==2.9.9

# Validación
pydantic==2.7.1
pydantic-settings==2.2.1

# Variables de entorno
python-dotenv==1.0.1

# Cliente HTTP para comunicarse con el Catalog service
# httpx es asíncrono, ideal para microservicios
httpx==0.27.0

# Formularios
python-multipart==0.0.9

# Testing
pytest==8.2.0
pytest-asyncio==0.23.6